
<div class="p-3" style="height: 100vh;">
    <h3>Menu {{user.role}} </h3>
    <ul class="nav flex-column">
        
        {% if user.role == 'admin' %}
            <li class="nav-item">
                <a class="nav-link text-light" href="#section3">Personnel Management</a>
                <a class="nav-link text-light" href="#section3">Vehicle Management</a>
            </li>
        {% endif %}
        {% if user.role == 'manager' %}
            <li class="nav-item">
                <a class="nav-link text-light" href="#section4">Section 4</a>
            </li>
        {% endif %}
        {% if user.role == 'employee' and user.client %}
            <li class="nav-item">
                <a class="nav-link text-light" href="#section5">Section 5</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link text-light" href="#section3">View vehicles</a>
        </li>
    </ul>
</div>

