<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-dark text-light position-fixed" style="left: 0;">
            <div class="p-3" style="height: 100vh;">
                <h3>Menu</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#section1">Section 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#section2">Section 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#section3">Section 3</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 offset-md-3">
            <div class="mt-4">
                {% block actions %}{% endblock %}
            </div>
        </div>
    </div>
</div>
